<nav class="navbar navbar-default" style="background-color: #FFBA33;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="width: 100%;">
      <div class="navbar-brand " style="width: 100%;text-align: center; color: #333; text-transform: uppercase;"> Page Specification Gem </div>
    </div>
</nav>